
<h1>SUDOKU: THE GAME</h1>
<table class="table table-hover" class="table">
    <tr *ngFor="let row of sudoku.sudokuTable; index as i, first as first" class="example-form">
        <td *ngFor="let element of row; index as j" class="example-form">
            <mat-divider *ngIf="i%3 === 0 && !first"></mat-divider>
            
            <mat-form-field class="example-full-width formFieldWidth25">
                <input matInput [(ngModel)]="element">
            </mat-form-field>
            
        </td>
        <mat-divider [vertical]="true"></mat-divider>
    </tr>
</table>

<button mat-button (click)="check()">Check</button>
