.example-form {
    min-width: 50px;
    max-width: 200px;
    width: 11%;
    padding: 0;
  }
  
  .example-full-width {
    width: 99%;
    min-width: 50px;
    max-width: 200px;
    padding: 0;
  }
  

  .table {
      width: 99%;
  }
  button{
      margin: 3%;
      padding: 25px;
      width: 94%;
  }